:root {
  font-size: 16px;
}

@font-face {
  font-family: '1up';
  src: url('../fonts/1up.ttf');
}

@font-face {
  font-family: 'dunkin';
  src: url('../fonts/dunkin.otf');
}



a{
  text-decoration: none;
  color:#000;
  transition:all 0.1s;
}

body{
  max-height:100vh;
  width:100vw;
  overflow-x: hidden;
}
.box-container{
  min-height:100vh;
  width:100vw;
}

/*INDEX*/


.game-title,.bg-instruction-title,.bg-instruction-subtitle,.p-instructions-text,.box-back-link a,.level-title,.form-radiobutton-label, .param-info-user, .texto-info-user{
  user-select: none;
}
.level-title{
  font-family: '1up';
}


.game-title{
  background: rgba(0,0,0,1);
  box-shadow:0px 0px 16px  rgba(255,255,255,0.8);
  border-radius: 10px;
  font-family: '1up';
}

.title-button{
  color: #fff;
}

.bg-index{
  
  background-image: url(../images/brain.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 30rem;
}

.bg-index-title{
  color: rgba(255,255,255,0.8);
}

.bg-index-start,.bg-index-instructions{
  background: rgba(0,0,0,0.7);
  box-shadow:1px 1px 1px  rgba(255,255,255,0.8);
  transition:all 0.6s;
  font-family: 'dunkin';
}
.bg-index-start:hover,.bg-index-instructions:hover{
  background: rgba(0,0,0,1);
  box-shadow:5px 5px 2px  rgba(255,255,255,0.8);
  transition:all 0.6s;
}
/*END INDEX*/


/*INSTRUCTIONS*/

.box-back{
  position: absolute;
  top:1rem;
  left: 5rem;
}

.link-back{
  color:#fff;
}

.box-back svg{
fill:#fff;
}





.box-back-link{
  border-radius: 10%;
  background-color:rgba(0,0,0,0.8);
  box-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  transition:all 0.6s;
}

.box-back-link:hover{
  box-shadow:5px 5px 2px rgba(255,255,255,0.8);

}

.box-back-link svg{
  transition:all 1s;
}
.box-back-link svg:hover{
  rotate: -360deg;
  transition:all 1s;
}

.title-instructions{
  font-family: '1up';
  color: #fff;
  background: rgba(0,0,0,1);
  box-shadow: 0px 0px 16px rgba(255,255,255,0.8);
  border-radius: 10px;
}

.bg-instruction-subtitle{
  background-color:rgba(0,0,0,1);
  font-family: 'dunkin';
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.8);
}

.box-instructions-text,.box-form-settings{
  border-radius: 1rem;
color: rgba(255,255,255,1);
transition:all 0.6s;

}

.box-instructions-text:hover,.box-form-settings:hover{
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow:3px 3px 5px  rgba(255,255,255,0.8);
  background-color:rgba(0,0,0,1);
  transition:all 0.6s;
}




.p-instructions-text{
  color: rgba(255,255,255,0.8);
  font-family: 'dunkin';
}

.mark-instructions{
  background-color:rgba(255,255,255,0.6);
  color:#000;
  transition:all 0.4s;
  border-radius: 2px;
}

.mark-instructions:hover{
  background-color:rgba(255,255,255,0.8);
  transition:all 0.4s;
  border-radius: 2px;
}
  /*END INSTRUCTIONS*/

  /*SETTINGS*/
.bg-settings-brain{
  background-image: url(../images/brain-red.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 30rem;
  width: 30rem;
}

.box-container-form-settings{
  min-height:100vh;
  width:100vw;
}

 .box-form-settings{
background-color: rgba(0,0,0,0.8);
}



.input-name{
  color:rgba(255,255,255,1);
  background-color: #000;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 0.6rem;
  text-align: center;
  caret-color: rgba(255,255,255,0.5);
}


.input-name::placeholder{
  color: rgba(255,255,255,0.5);
  text-align: center;
}


.form-radiobutton-label{
  color: rgba(255,255,255,0.8);
  text-shadow: 2px 2px 5px  rgba(255,255,255,0.8);;
}

.form-radiobutton{
  background-color:rgba(255,255,255,0.8) ;
  border: rgba(255,255,255,0.8);
}


.form-check-input{
  background-color: #fff;
  box-shadow:0px 0px 16px  rgba(255,255,255,0.8);
}


.form-check-input:checked[type=radio]{

  background: url("../images/icon-brain.svg"); 
  background-size: contain;
  box-shadow:0px 0px 16px  rgba(255,255,255,0.8);
} 

.box-colorpicker input{
  background-color: #000;
  width: 3rem;
  height: 3rem;
  box-shadow:0px 0px 16px  rgba(255,255,255,0.8);
  transition: all 0.4s;
}

.box-colorpicker input:hover{
  box-shadow:0px 0px 5px  rgba(255,255,255,0.8);
  transition: all 0.4s;
}



.btn-comenzar-partida{
  background-color:rgba(0,0,0,1);
  color: #fff;
  border: 1px solid #000;
  box-shadow:1px 1px 1px  rgba(255,255,255,0.8);
  transition:all 0.6s;
}

.btn-comenzar-partida:hover, .btn-comenzar-partida:active, .btn:first-child:active{
  background-color:rgba(0,0,0,1);
  color: #fff;
  border: 1px solid #000;
  box-shadow:5px 5px 2px  rgba(255,255,255,0.8);
  transition:all 0.6s;
}
/*END SETTINGS*/


/*MASTERMIND*/

.box-page-mastermind{
  width:100vw;
}


.col-box-page-mastermind{
  height: 100vh;
  width:100vw;
}


.bg-user-info{
  background-color:rgba(0,0,0,0.8);
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow:0px 0px 16px  rgba(255,255,255,0.8);
  color: rgba(255,255,255,1);
  transition:all 0.6s;
}
.bg-user-info:hover{
  box-shadow:0px 0px 30px  rgba(255,255,255,0.8);
  transition:all 0.6s;

}


.info-user-game{
  background-color: #000;
  color: #fff;
  box-shadow:1px 1px 1px  rgba(255,255,255,0.8);
  transition:all 0.6s;
}
.info-user-game:hover{
  background-color: #000;
  color: #fff;
  box-shadow:5px 5px 2px  rgba(255,255,255,0.8);
  transition:all 0.6s;
}

.texto-info-user{
  font-weight: bold;
}


.boxBoard-easy{
    background-image: url(../images/facil-bg.jpeg);
    background-size: 20%;
}

.boxBoard-medium{
  background-image: url(../images/medio-bg.jpg);
  background-size: 20%;
}
.boxBoard-hard{
  background-image: url(../images/dificil-bg.jpg);
  background-size: 20%;
}

.bg-board{
  background-color: black;
}

.box-check{
  background-color: transparent;
}

.check-img{
  width: 2rem;
  height: 2rem;
}

.chip{
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 5px;
  border: 2px solid #fff;
  background-color: rgba(255,255,255,0.3);

}

.clues {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  align-content: center;
  gap: 4px;
}


.clue{
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #fff;
}


/*END MASTERMIND*/






  





@media screen and (max-width:1000px){



}


@media screen and (max-width:768px){

.title-button{
font-size:2rem;
border-radius: 50%;
}

  .box-back{
    position: inherit;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

}