:root {
  font-size: 16px;
}

a{
  text-decoration: none;
  color:#000;
  transition:all 0.1s;
}

body{
  min-height:100vh;
  width:100vw;
  overflow-x: hidden;
}
.box-container{
  min-height:100vh;
  width:100vw;
}

/*INDEX*/

.bg-index{
  background-image: url(../images/brain.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 30rem;
}

.bg-index-title{
  color: rgba(255,255,255,0.8);
}

.bg-index-start,.bg-index-instructions{
  background: rgba(255,255,255,0.8);
  box-shadow: 5px 5px 4px #000;
  transition:all 0.6s;
}
.bg-index-start:hover,.bg-index-instructions:hover{
  background: rgba(255,255,255,1);
  box-shadow: 1px 1px 1px #000;
  transition:all 0.6s;
}
/*END INDEX*/


/*INSTRUCTIONS*/

.box-back{
  position: absolute;
  top:1rem;
  left: 5rem;
}

.link-back{
  color:#fff;
}

.box-back svg{
fill:#fff;
}

.bg-instruction-title{
  background-color:rgba(255,255,255,0.2);
}

.box-instructions-text{
  color: rgba(255,255,255,1);
box-shadow:2px 2px 3px  rgba(255,255,255,0.8);
transition:all 0.6s;
}

.box-instructions-text:hover{
  color: rgba(255,255,255,0.8);
box-shadow:6px 6px 7px  rgba(255,255,255,0.8);
transform: scale(1, 1.1);
transition:all 0.6s;
}

.p-instructions-text{
  color: rgba(255,255,255,0.8);
}

.mark-instructions{
  background-color:rgba(255,255,255,0.2);
  color:#00D3FF;
  transition:all 0.4s;
}

.mark-instructions:hover{
  background-color:rgba(255,255,255,0.8);
  color:#000000;
  transition:all 0.4s;
}
  /*END INSTRUCTIONS*/

  /*SETTINGS*/
.bg-settings-brain{
  background-image: url(../images/brain-red.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 30rem;
  width: 30rem;
}

.box-container-form-settings{
  min-height:100vh;
  width:100vw;
}

.box-form-settings{
background-color: rgba(0,0,0,0.6);
box-shadow:5px 5px 2px  rgba(0,0,0,0.4);
}

.input-name{
  color:rgba(255,255,255,0.8);
  background-color: #000;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 0.6rem;
}

.input-name::placeholder{
  color: rgba(255,255,255,0.5);
  text-align: center;
}


.form-radiobutton-label{
  color: rgba(255,255,255,0.8);
  
}

.form-radiobutton{
  background-color:rgba(255,255,255,0.8) ;
  border: rgba(255,255,255,0.8);
}


.form-check-input:checked[type=radio]{
  background-color: #000;
  background: url("../images/icon-brain.svg"); 
  background-size: contain;
  /* --bs-form-check-bg-image: url("../images/icon-brain.svg"); */
} 

.btn-comenzar-partida{
  background-color:rgba(0,0,0,1);
  color: #fff;
  border: 1px solid #000;
  box-shadow:5px 5px 2px  rgba(255,255,255,0.3);
  transition:all 0.6s;
}

.btn-comenzar-partida:hover, .btn-comenzar-partida:active, .btn:first-child:active{
  background-color:rgba(0,0,0,1);
  color: #fff;
  border: 1px solid #000;
  box-shadow:1px 1px 1px  rgba(255,255,255,0.3);
  transition:all 0.6s;
}



  /*END SETTINGS*/
@media screen and (max-width:1000px){



}


@media screen and (max-width:768px){

.title-button{
font-size:2rem;
border-radius: 50%;
}

  .box-back{
    position: inherit;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

}